
		.title{ 
			height:550;
			width:1500;
			font-size:80px;
			font-family:'Brush Script MT', cursive;
			background-color:black;
			background-image: url('pizza2.jpg');
			background-repeat: no-repeat;
			background-attachment: fixed;
			background-size: cover;
			
		}
		
		.middle{ 
			height:1300;
			width:1500;
			background-color:#f4f1f1
		}
		
		.moremiddle{
			height:1650;
			width:1500;
			background-color:#f4f1f1
		}
		
		.homemiddle{ 
			height:1800;
			width:1500;
			background-color:#f4f1f1
		}
		
		.loginmiddle{ 
			height:500;
			width:1500;
			background-color:#f4f1f1
		}
		.orderonline{ 
			height:500;
			width:1500;
			margin-top:100px;
			background-image: url('thirdback2.jpg');
			background-repeat: no-repeat;
			background-attachment: fixed;
			background-size: cover;
		}
		
		.end{
			background-color:black;
			height:500;
			width:1500;
		}
		
		.head{
			height:248;
			width:672;
		}
		
		.headimg{
			height:248;
			width:150;
		}
		.image{
			margin:30px 50px;
		}
		
		.name{
			margin:30px 10px;
			color:white;
		}
		
		.link{
			color:white;
			font-size:20px;
			font-family:Georgia, 'Times New Roman', Times, serif;
		}
		
		.loginlink{
			color:black;
			font-size:20px;
			font-family:Georgia, 'Times New Roman', Times, serif;
		}
		
		.feel{
			color:white;
			font-size:50px;
			font-family:'Brush Script MT', cursive;
			font-weight:700;
		}
		.bottomlink{
			margin:10px;
			color:red;
			font-size:25px;
			font-family:Georgia, 'Times New Roman', Times, serif;
		}
		
		a:link {
			text-decoration: none;
		}
		
		a:hover {
		  color: blue;
		  background-color: transparent;
		}
		
		.endblock1{
			height:300;
			width:355
		}
		
		.endblock{
			height:300;
			width:548
		}
		
		.info{
			margin:50px 180px;
			font-size:50px;
			color:white
		}
		
		.pre{
			color:white;
			font-size:20px
		}
		
		.bgslider { 
			overflow: hidden; 
		}
		
		.bgslider figure { 
		  position: relative;
		  width: 500%;
		  margin: 0;
		  left: 0;
		  text-align: left;
		  font-size: 0;
		  animation: 30s slidy infinite; 
		}
		
		.bgslider figure img { 
			width: 20%; 
			float: left; 
			height:100vh;
		}
		
		@keyframes slidy {
			0% { left: 0%; }
			20% { left: 0%; }
			25% { left: -100%; }
			45% { left: -100%; }
			50% { left: -200%; }
			70% { left: -200%; }
			75% { left: -300%; }
			95% { left: -300%; }
			100% { left: -400%; }
		}
		
		.c1{
			float:left;
		}
		.c2{
			border:1px solid black;
			height:197px;
			clear:left;
		}
		
		.button1{
			background-color:white;
			width:200px;
			height:50px;
			font-size:25px
		}
		.aboutpara{
			font-family: sans-serif;
			font-size:20px;
			justify-content: center;
			text-align:center;
			line-height:30px;
		}
		
		.aboutpara1{
			font-family: 'Gentium Basic', serif;
			font-size:70px;
			justify-content: center;
			text-align:center;
		}
		
		.third{
			font-family: 'Gentium Basic', serif;
			font-size:70px;
			justify-content: center;
			text-align:center;
			color:white
		}
		
		.aboutdiv{
			margin-right: 300px;
			margin-left: 300px;
		}
		
		.franchisemiddle{
			height:2000;
			width:1500;
			background-color:#f4f1f1
		}
		
		.franchiseDiv{
			width:650;
			height: 500px;
			margin-top:100px;
			margin-left:70px;
		}
		
		.achievediv{
			width:650;
			height: 350px;
			margin-top:100px;
			margin-left:70px;
		}
		
		.franchiseDiv1{
			width:1500;
			height: 100px;
			margin-top:100px;
		}
		
		.franchiseDiv2{
			width:1430;
			height: 300px;
			margin-left:70px;
		}
		
		.franchisepara{
			font-size:50px;
			margin-top:-7px;
			font-family:Georgia, 'Times New Roman', Times, serif;
		}
		
		.welcomepara{
			font-size:40px;
			margin-top:-7px;
			font-family:Georgia, 'Times New Roman', Times, serif;
		}
		
		.franchisepara1{
			font-family: sans-serif;
			font-size:20px;
			line-height:30px;
		}
		
		.franchisepara2{
			font-family: sans-serif;
			font-size:20px;
			line-height:30px;
		}
		
		.menupara{
			font-size:50px;
			text-align:center;
		}
		
		.ordernowmiddle{
			height:2600;
			width:1500;
			background-color:#f4f1f1
		}
		.ordernow{
			height:400px;
			width:450px;
			margin-left:35px;
			margin-top:35px;
			border: 1px solid black;
			background-color:black
		}
		
		.ordertitle{
			height:100px;
			width:1500px;
		}
		
		.orderpara{
			font-size:50px;
			text-align:center;
		}
		
		.orderitems{
			font-size:50px;
			margin-top:100px;
			height:500px;
			width:1500;
			background-color:#839192
		}
		
		.gallerymiddle{
			height:1600;
			width:1500;
			background-color:#f4f1f1
		}
		
		.hello {
		  opacity: 1 !important;
		}
		.full {
		  position: fixed;
		  left: 0;
		  top: 0;
		  width: 100%;
		  height: 100%;
		  z-index: 1;
		}
		.full .content {
		  background-color: rgba(0,0,0,0.75) !important;
		  height: 100%;
		  width: 100%;
		  display: grid;
		}
		.full .content img {
		  left: 50%;
		  transform: translate3d(0, 0, 0);
		  animation: zoomin 1s ease;
		  max-width: 100%;
		  max-height: 100%;
		  margin: auto;
		}
		.byebye {
		  opacity: 0;
		}
		.byebye:hover {
		  transform: scale(0.2) !important;
		}
		.gallery {
		  display: grid;
		  grid-column-gap: 8px;
		  grid-row-gap: 8px;
		  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
		  grid-auto-rows: 8px;
		  margin-top:150px;
		}
		.gallery img {
		  max-width: 100%;
		  border-radius: 8px;
		  box-shadow: 0 0 16px #333;
		  transition: all 1.5s ease;
		}
		.gallery img:hover {
		  box-shadow: 0 0 32px #333;
		}
		.gallery .content {
		  padding: 4px;
		}
		.gallery .gallery-item {
		  transition: grid-row-start 300ms linear;
		  transition: transform 300ms ease;
		  transition: all 0.5s ease;
		  cursor: pointer;
		}
		.gallery .gallery-item:hover {
		  transform: scale(1.025);
		}
		@media (max-width: 600px) {
		  .gallery {
			grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
		  }
		}
		@media (max-width: 400px) {
		  .gallery {
			grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
		  }
		}
		@-moz-keyframes zoomin {
		  0% {
			max-width: 50%;
			/* transform: rotate(-30deg); */
			/* filter: blur(4px); */
		  }
		  /* 30% {
			filter: blur(4px);
			/* transform: rotate(-80deg); */
		  } */
		  70% {
			max-width: 50%;
			/* transform: rotate(45deg); */
		  }
		  100% {
			max-width: 100%;
			/* transform: rotate(0deg); */
		  }
		}
		@-webkit-keyframes zoomin {
		  0% {
			max-width: 50%;
			/* transform: rotate(-30deg); */
			/* filter: blur(4px); */
		  }
		  /* 30% {
			filter: blur(4px);
			/* transform: rotate(-80deg); */
		  } */
		  70% {
			max-width: 50%;
			/* transform: rotate(45deg); */
		  }
		  100% {
			max-width: 100%;
			/* transform: rotate(0deg); */
		  }
		}
		@-o-keyframes zoomin {
		  0% {
			max-width: 50%;
			/* transform: rotate(-30deg); */
			/* filter: blur(4px); */
		  }
		  /* 30% {
			filter: blur(4px);
			/* transform: rotate(-80deg); */
		  } */
		  70% {
			max-width: 50%;
			/* transform: rotate(45deg); */
		  }
		  100% {
			max-width: 100%;
			/* transform: rotate(0deg); */
		  }
		}
		@keyframes zoomin {
		  0% {
			max-width: 50%;
			/* transform: rotate(-30deg); */
			filter: blur(4px);
		  }
/* 		  30% {
			filter: blur(4px);
			/* transform: rotate(-80deg); */
		  } */
		  70% {
			max-width: 50%;
			/* transform: rotate(45deg); */
		  }
		  100% {
			max-width: 100%;
			/* transform: rotate(0deg); */
		  }
		}
		
		
		
		.menumiddle{
			height:1300;
			width:1500;
			background-color:#f4f1f1
		}
		
		
		* {box-sizing: border-box}
		body {font-family: Verdana, sans-serif; margin:0}
		.mySlides {display: none}
		img {vertical-align: middle;}

		/* Slideshow container */
		.slideshow-container {
		  max-width: 600px;
		  position: relative;
		  margin: auto;
		}

		/* Next & previous buttons */
		.prev, .next {
		  cursor: pointer;
		  position: absolute;
		  top: 50%;
		  width: auto;
		  padding: 16px;
		  margin-top: -22px;
		  color: white;
		  font-weight: bold;
		  font-size: 18px;
		  transition: 0.6s ease;
		  border-radius: 0 3px 3px 0;
		  user-select: none;
		}

		/* Position the "next button" to the right */
		.next {
		  right: 0;
		  border-radius: 3px 0 0 3px;
		}

		/* On hover, add a black background color with a little bit see-through */
		.prev:hover, .next:hover {
		  background-color: rgba(0,0,0,0.8);
		}

		
		/* Number text (1/3 etc) */
		.numbertext {
		  color: #f2f2f2;
		  font-size: 12px;
		  padding: 8px 12px;
		  position: absolute;
		  top: 0;
		}

		/* The dots/bullets/indicators */
		.dot {
		  cursor: pointer;
		  height: 15px;
		  width: 15px;
		  margin: 0 2px;
		  background-color: #bbb;
		  border-radius: 50%;
		  display: inline-block;
		  transition: background-color 0.6s ease;
		}

		.active, .dot:hover {
		  background-color: #717171;
		}

		/* Fading animation */
		.fade {
		  -webkit-animation-name: fade;
		  -webkit-animation-duration: 1.5s;
		  animation-name: fade;
		  animation-duration: 1.5s;
		}

		@-webkit-keyframes fade {
		  from {opacity: .4} 
		  to {opacity: 1}
		}

		@keyframes fade {
		  from {opacity: .4} 
		  to {opacity: 1}
		}

		/* On smaller screens, decrease text size */
		@media only screen and (max-width: 300px) {
		  .prev, .next,.text {font-size: 11px}
		}